{% load static %}
{% load widget_tweaks %}
<html lang="es">
<style>
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 12px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 10px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 10px;
  margin-top: 10px;
}

#message p {
  padding: 5px 25px;
  font-size: 14px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -25px;
  content: "✖";
}

    .centrar {
        text-align: center
    }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Tablero de Comando del COFFAA - Módulo de Elecciones</title>

    <!-- vendor css -->
    <link href="{% static 'app/lib/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">


    <!-- Bracket CSS -->
    <link href="{% static 'app/css/bracket.css' %}" rel="stylesheet">
    <!--Sweetalert2-->
    <link href="{% static 'sweetalert2/dist/sweetalert2.css' %}" rel="stylesheet" />
</head>

<body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">
        <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
            {% for message in messages %}
            <div id="mensajes" class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-success alert-link" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <div class="signin-logo tx-center tx-20 tx-bold tx-inverse"><span class="tx-normal">[</span>Tablero de Comando COFFAA
                <span class="tx-info"></span> <span class="tx-normal">]</span>
            </div>
              <div class="tx-center mg-b-20">Módulo de elecciones</div>
            <form method="post" id="formulario">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}

                {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {% if form.is_bound %}
                    {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% render_field field class="form-control is-valid" %}
                    {% endif %}
                    {% else %}
                    {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                 
                    {% endif %}
                </div>
                {% endfor %}
                <div id="message">
<!--                    <h5>Caracteristicas:</h5>-->
                    <p id="letter" class="invalid">Al menos una letra minúscula</p>
                    <p id="capital" class="invalid">Al menos una letra mayúscula</p>
                    <p id="number" class="invalid">Al menos un numero</p>
                    <p id="length" class="invalid">Minimo 8 caracteres</p>
                    <p id="equal" class="invalid">Deben ser iguales</p>
                  </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-info btn-block">
                            Restablecer contraseña
                        </button>
                    </div>
                </div>
               
                <!--Sobreescribo el boton volver para hacerlo al listado de cada nivel-->
                {% block boton_volver %}
                {% endblock %}
            </form>
            <div class="centrar"><a href="{% url 'login' %}" class="tx-info tx-12 d-block mg-t-10">Iniciar
                    sesión</a>
            </div><!-- login-wrapper -->
        </div><!-- d-flex -->
        <script src="{% static 'app/lib/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'app/lib/jquery-ui/ui/widgets/datepicker.js' %}"></script>
        <script src="{% static 'app/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <!--Sweetalert2-->
        <script type="text/javascript" src="{% static 'sweetalert2/dist/sweetalert2.js' %}"></script>
        
    <script type="application/javascript">
       var myInput = document.getElementById("id_new_password2");
       var myInput2 = document.getElementById("id_new_password1");

        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");
        var equal = document.getElementById("equal");

        // When the user clicks on the password field, show the message box
        myInput2.onfocus = function() {
          document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        // myInput.onblur = function() {
        //   document.getElementById("message").style.display = "none";
        // }

        // When the user starts to type something inside the password field
        myInput2.onkeyup = function() {
          // Validate lowercase letters
          var lowerCaseLetters = /[a-z]/g;
          if(myInput2.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
          } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
          }

          // Validate capital letters
          var upperCaseLetters = /[A-Z]/g;
          if(myInput2.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
          } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
          }

          // Validate numbers
          var numbers = /[0-9]/g;
          if(myInput2.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
          } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
          }

          // Validate length
          if(myInput2.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
          } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
          }
        }
        myInput.onkeyup = function() {
          if(myInput.value === myInput2.value) {
            equal.classList.remove("invalid");
            equal.classList.add("valid");
          } else {
            equal.classList.remove("valid");
            equal.classList.add("invalid");
          }
        }
    </script>
</body>

</html>