{% extends 'base.html' %}
{% block lugares %} active {% endblock %}

{% load widget_tweaks %}
{% load static %}

{% block cabecera %}
    {{ form.media }}
    {% load leaflet_tags %}
    {% leaflet_js plugins="buscador"%}
    {% leaflet_css plugins="buscador"%}
{% endblock %}

{% block titulo %}
<h4>{{ titulo }} {{object.tipo_lugar}}</h4>
{% endblock  %}

{% block extra_css %}
<style>
  .nav-pills .nav-link.active,
  .show>.nav-pills .nav-link {
    /*background: #000000 !important*/
    background: rgb(23, 162, 184);
  }
  .mipdf {
    background-color: burlywood !important;
  }
</style>
<link href="{% static 'coffaa/estilospropios.css' %}" rel="stylesheet" />

{% endblock %}

{% block contenido %}
<fieldset class="scheduler-border">
 <legend class="scheduler-border filtros">Detalles del lugar de interés</legend>
<div class="form-row">
  <div class="form-group col-md-6 mb-0">
    <br><br><br>
    <div class="form-row">
      <h4><p>Distrito: {{ object.distrito }}</p></h4>
    </div>
    <div class="form-row">
      <h4><p>Tipo: {{ object.tipo_lugar }}</p></h4>
    </div>
    <div class="form-row">
      <h4><p>Autoridad: {{ object.autoridad }}</p></h4>
    </div>
    <div class="form-row">
      <h4><p>Dirección: {{ object.direccion }}</p></h4>
    </div>
    <div class="form-row">
      <h4><p>Teléfono: {{ object.telefono }}</p></h4>
    </div>
    <div class="form-row">
      <h4><p>Observaciones: {{ object.obs }}</p></h4>
    </div>
  </div>
  <div class="form-group col-md-6 mb-0">
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {% if object.ubicacion.y %}
        <p>Latitud: {{ object.ubicacion.y }}</p>
        {% else %}
        <p>Latitud: Sin dato</p>
        {% endif %}
      </div>
      <div class="form-group col-md-6 mb-0">
        {% if object.ubicacion.x %}
        <p>Longitud: {{ object.ubicacion.x }}</p>
        {% else %}
        <p>Longitud: Sin dato</p>
        {% endif %}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12 mb-0">
        {% leaflet_map "yourmap" %}
      </div>
    </div>
  </div>
 </div>
 </fieldset>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
   $(window).on('map:init', function (e) {
    var detail = e.detail;
    //Pagina para configurar geoserarch
    //https://stackoverflow.com/questions/52588652/how-to-add-leaflet-geosearch-control-in-django-admin
    const search = new GeoSearch.GeoSearchControl({
      //provider: new GeoSearch.OpenStreetMapProvider(),
      provider: new GeoSearch.EsriProvider(),
      searchLabel: 'Ingrese la dirección...',
      notFoundMessage: 'No hay resultados',
      retainZoomLevel: true,
      showMarker: true,
      selected: 0,
      autoClose: true,
      keepResult: true
    });
    detail.map.addControl(search);
    let longitud = parseFloat({{ object.ubicacion.x | safe }})
  let latitud = parseFloat({{ object.ubicacion.y | safe }})

  detail.map.setView([latitud, longitud], 18);
  L.marker([latitud, longitud]).addTo(detail.map);
  });
  </script>

{% endblock %}