{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<h4>{{titulo}}</h4>
{% endblock  %}

{% block extra_css %}
<style>
    .asteriskField {
        color: red;
        /*display: none;*/
    }
    .aviso {
        color: yellow;
        /*display: none;*/
    }

</style>
<link href="{% static 'coffaa/estilospropios.css' %}" rel="stylesheet"/>
{% endblock %}
{% block contenido %}

<div class="container bg-faded">
    <h6 class="text-center asteriskField">* Campos obligatorios</h6>
</div>
<form data-url="{% url 'crear-vhcontratados-seccion' %}" method="post" class="crear-vhcontratados-en-seccion" novalidate>
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Emplear vehículo contratado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
         <div class="form-row">
            <div class="form-group  col-md-12 mb-0">
                {{ form.vehiculo_contratado|as_crispy_field }}
            </div>
         </div>


        <div class="form-row">
            <div class="form-group  col-md-12 mb-0">
              {{ form.tareas|as_crispy_field }}
            </div>
        </div>
         <div class="form-row">
            <div class="form-group  col-md-12 mb-0">
             {{ form.zona_trabajo|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group  col-md-6 mb-0">
                 {{ form.desde|as_crispy_field }}
            </div>
             <div class="form-group  col-md-6 mb-0">
                 {{ form.hasta|as_crispy_field }}
            </div>
        </div>

         <div class="form-row">
            <div class="form-group  col-md-4 mb-0">
                {{ form.cantidad_pasajeros|as_crispy_field }}
            </div>
             <div class="form-group  col-md-4 mb-0">
                 {{ form.kilometros_a_recorrer|as_crispy_field }}
            </div>
             <div class="form-group  col-md-4 mb-0">
                {{ form.obs|as_crispy_field }}
            </div>
        </div>
<!--      {{ form|crispy }}-->
    </div>
    <div class="modal-footer">
        <div class="btn btn-info btn-with-icon">
            <div class="ht-40">
                <span class="icon wd-40"><i class="fas fa-save"></i></span>
                <button type="submit" class="btn btn-info btn-flat">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block extrajs %}{% endblock %}