{% extends 'eliminarBase.html' %}
{% block titulo_eliminar %}
    <p>Esta seguro de eliminar "{{ object.tipo_vehiculo_provisto.tipo_vehiculo_provisto }} NI: {{object.ni_patente_matricula}}" de la lista de vehículos propios?</p>
    
{% endblock %}    
{% block boton_volver %}
    
    <a href="{% url 'listado-de-vehiculos-propios' %}" class="btn btn-secondary btn-with-icon">
        <div class="ht-40">
          <span class="icon wd-40"><i class="fas fa-times"></i></span>
          <span class="pd-x-5">Cancelar</span>
        </div>
      </a>
{% endblock %}