{% load static %}
{% load widget_tweaks %}
<html lang="en">
<style>
    .centrar {
        text-align: center
    }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Tablero de Comando del COFFAA - Módulo de Elecciones</title>

    <!-- vendor css -->
    <link href="{% static 'app/lib/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">


    <!-- Bracket CSS -->
    <link href="{% static 'app/css/bracket.css' %}" rel="stylesheet">
    <!--Sweetalert2-->
    <link href="{% static 'sweetalert2/dist/sweetalert2.css' %}" rel="stylesheet" />
</head>

<body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">
        <div class="login-wrapper wd-400 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
            <!--https://www.ordinarycoders.com/blog/article/django-messages-framework-->

            <div class="signin-logo tx-center tx-18 tx-bold tx-inverse"><span class="tx-normal">[</span>Tablero de Comando COFFAA
                <span class="tx-info"></span> <span class="tx-normal">]</span>
            </div>
            <div class="tx-center mg-b-20">Módulo de elecciones</div>


    <p>Se ha producido un inconveniente técnico, siga utilizando el sistema de forma normal. Si el problema persiste
        contáctese con el administrador.</p>

            <div class="centrar"><a href="{% url 'inicio' %}"
                        class="tx-info tx-12 d-block mg-t-10">Volver al sistema</a>
                </div>

        </div><!-- login-wrapper -->
    </div><!-- d-flex -->
    <script src="{% static 'app/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'app/lib/jquery-ui/ui/widgets/datepicker.js' %}"></script>
    <script src="{% static 'app/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>