.search:focus {
    /*width: 0% !important;*/
    background-color: #E8E8E8;
}

.not-visible {
    display: none;
}

.results-card {
    /*width: 20%;*/
    max-height: 200px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.25);
    transition: 0.5s;
    border-radius: 7px;
    padding: 15px 15px;
    margin: 0 auto;
}

.item {
    text-decoration: none;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;

    }
    td.details-control {
        background: url('../app/lib/datatables.net-dt/images/details_open.png') no-repeat center center;
        cursor: pointer;
      }

    tr.shown td.details-control {
        background: url('../app/lib/datatables.net-dt/images/details_close.png') no-repeat center center;
      }

      .visor_imagenes {
        color: black !important;;
        background-color: yellowgreen !important;;
      }
 .filtros{
        color: rgb(153, 255, 153);
        font-size: 1rem;
 }
 .resaltar_usuario{
        color: rgb(153, 255, 153);

 }
 .totales{
    color: #fff;
 }

 .centrar {
        text-align: center
    }
