{% extends 'listados.html' %}
{% block vehiculos %} active {% endblock %}
{% block vehiculos_contratados %} active {% endblock %}


{% load static %}

{% block titulo %}
<h4>{{ titulo }}</h4>
{% endblock %}
{% block extra_css %}
<link href="{% static 'coffaa/estilospropios.css' %}" rel="stylesheet" />
{% endblock %}
{% block filtros %}
<fieldset class="scheduler-border">
    <legend class="scheduler-border filtros">Filtros</legend>
     <div class="form-row col">
        <div class="form-group  col-md-6 mb-0" id="dis">
            <label class="filtros">Distritos:</label>
            <select id='filtro-distrito-veh-contratado'></select>
        </div>
        <div class="form-group  col-md-6 mb-0">
            <label class="filtros">Se esta empleando:</label>
            <select id='filtro-con-sin-destino-para-vhcontratado'>
                <option value="">Todos</option>
                ';
                <option value="conpuesto">Si</option>
                ';
                <option value="sinpuesto">No</option>
                ';
            </select>
        </div>
    </div>
</fieldset>
<br>
{% endblock %}

{% block cabecera_de_la_tabla %}
<tr>
    <th scope="col" style="">Distrito</th>
    <th scope="col" style="">Tipo</th>
    <th scope="col" style="">Patente</th>
    <th scope="col" style="">Sensor rastreo</th>
    <th scope="col" style="">Troncal</th>
    <th scope="col" style="">Se esta empleando</th>
    <th scope="col" style="">Acciones</th>
</tr>
{% endblock %}

{% block lista_de_bonotones %}
{% if perms.AppElecciones.add_vehiculoscontratados %}
<div class="btn btn-primary btn-with-icon">
    <div class="ht-40">
      <span class="icon wd-40"><i class="fas fa-plus"></i></span>
      <button type="button" class="btn btn-primary btn-flat" id="mostrar-modal-veh-contratado"
        data-url="{% url 'crear-veh-contratado' %}" data-toggle="modal">
        Agregar
      </button>
    </div>
  </div>
{% endif %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">{% include 'AppElecciones/js_templates/vehiculoscontratados/crud-vehiculos-contratados.js' %}</script>
    <div class="modal fade" id="modal-veh-contratado">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          </div>
        </div>
    </div>
    <div class="modal fade" id="modal-detalle-veh-contratado">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}